body {
    padding-top: 70px;
}

body {
  min-height: 100vh;
  background-image: 
    repeating-linear-gradient(35deg, 
      rgba(231,131,177, 0) 0,
      #40ccde 33vmax,
      #40ccde calc(33vmax - 5px),
      #40ccde 33vmax
    ),
    repeating-linear-gradient(262deg, 
      rgba(231,131,177, 0) 0,
      #9959cf 65vmax,
      #9959cf calc(65vmax - 5px),
      #9959cf 65vmax
    );

  background-color: #e783b1;
  background-size: 100% 100%;
}



#profile-img {
    width: 50%;
    max-width: 60%;
    height: auto;
    border-radius: 50px;
    margin: 0 25px 0 0;
}
.li-logo {
    width: 15%;
    height: auto;
}

#portfolio {
   background-color: #e783b1;
}

h3 {
    font-family: 'Comic Sans MS';
}