@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    font-size: calc(1em + 1vw);
}

body {
    padding-top: 70px;
    font-size: 16px;
}

body {
    min-height: 100vh;
    background-image: repeating-linear-gradient(35deg,
    rgba(231, 131, 177, 0) 0,
    #40ccde 33vmax,
    #40ccde calc(33vmax - 5px),
    #40ccde 33vmax),
    repeating-linear-gradient(262deg,
    rgba(231, 131, 177, 0) 0,
    #9959cf 65vmax,
    #9959cf calc(65vmax - 5px),
    #9959cf 65vmax);

    background-color: #e783b1;
    background-size: 100% 100%;
}

#about_me {
    margin-left: 25%;
}

#about_me,
#portfolio,
#poetry,
#music {
    box-shadow: 6px -5px 10px 1px #807e7e8a;
    -webkit-box-shadow: 6px -5px 10px 1px #807e7e8a;
}

#about_me_info {
    text-align: right;
}

#profile-img-div {
    text-align: center;
}

#profile-img {
    width: 50%;
    max-width: 60%;
    height: auto;
    border-radius: 50px;
    margin: 0 auto;
}

.li-logo {
    width: 15%;
    height: auto;
}

#portfolio {
    padding: 3%;
    box-sizing: border-box;
    background-color: #e783b1;
    color: #E2E2E2;
}



#menu-outer {
    box-sizing: border-box;
    padding: 10px;
}

.table {
    text-align: center;
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
}

ul#horizontal-list {
    list-style: none;
    /*    padding-top: 20px;*/
    padding-left: 0;
}

ul#horizontal-list li {
    display: inline;
}

ul#horizontal-list li img {
    margin: 20px;
}


h2,
h3,
h4,
p {
    font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

#poetry {
    margin-top: 30px;
    color: #E2E2E2;
    background-color: #AA6CBD;
}

#poetry ul {
    padding-left: 0;
}

#links a {
    color: #e783b1;
    filter: drop-shadow(3px -1px #E2E2E2);
    -webkit-filter: drop-shadow(3px -1px #E2E2E2);
    -moz-filter: drop-shadow(3px -1px #E2E2E2);
    text-decoration: none;
    cursor: pointer;
}

#links ul {
    list-style: none;
}

@media only screen and (min-width: 20em) and (orientation: portrait) {
    #about_me {
        margin-left: 0;
    }

    #about_me_info {
        text-align: center;
        text-align: -webkit-center;
    }

    #horizontal-list img {
        margin: 10px 0 !important;
        width: 100%;
        height: auto !important;
    }
}
