@import "base/normalize.scss";
@import "base/reset.scss";
@import "https://fonts.googleapis.com/css?family=EB+Garamond|Oswald:400,700";
@import "animations.scss";

$color_1: #020202;
$color_2: #ffffff;
$color_3: #9959cf;
$font_family_1: "EB Garamond", "Times New Roman", Times, serif;
$font_family_2: "Oswald", Helvetica, sans-serif;
$background_color_1: #e783b1;
$background_color_2: #ffffff;

body {
  min-height: 100vh;
  background-image: repeating-linear-gradient(
      35deg,
      rgba(231, 131, 177, 0) 0,
      #40ccde 33vmax,
      #40ccde calc(33vmax - 5px),
      #40ccde 33vmax
    ),
    repeating-linear-gradient(
      262deg,
      rgba(231, 131, 177, 0) 0,
      #9959cf 65vmax,
      #9959cf calc(65vmax - 5px),
      #9959cf 65vmax
    );
  background-color: $background_color_1;
  background-size: 100% 100%;
  font-family: $font_family_1;
  font-size: 1.5rem;
  color: $color_1;
}
h1 {
  font-family: $font_family_2;
}
h2 {
  font-family: $font_family_2;
  letter-spacing: 3px;
}
h3 {
  font-family: $font_family_2;
}
a {
  color: $color_2;
}
.jumbotron {
  p {
    font-size: 1.2em;
  }
  background-color: $background_color_2;
  background: url(/img/wavy-dots.png) repeat;
}
ul {
  li {
    font-size: 1.5rem;
  }
}
hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
  &:after {
    content: "\00a0";
  }
}
.navbar {
  border-radius: 5px;
  font-family: $font_family_2;
  letter-spacing: 2px;
  a {
    font-size: 24px;
  }
}
.mm_header {
  h1 {
    transition: all 0.2s;
    font-size: 8vmin;
    &:hover {
      -webkit-transform: scale(1.3) rotateX(-20deg) rotateY(10deg);
      transform: scale(1.3) rotateX(-20deg) rotateY(10deg);
      span {
        &:nth-child(even) {
          animation-delay: 0.15s;
        }
        display: inline-block;
        animation: wiggle 0.4s ease-in-out infinite;
      }
    }
  }
}
#profile-img {
  width: 400px;
  max-width: 60%;
  height: auto;
  border-radius: 50%;
}
.content-styles {
  background-color: $background_color_2;
  border-radius: 5px;
  h2 {
    font-size: 1.5em;
    color: $color_1;
    text-shadow: #858585 2px 2px 4px;
    margin-bottom: 2rem;
  }
  h4 {
    letter-spacing: 5px;
    font-size: 2rem;
  }
  ul {
    list-style: none;
    li {
      &::before {
        content: "•";
        color: $color_3;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
  a {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#40ccde),
      to(#9959cf)
    );
    background: linear-gradient(to right, #40ccde, #9959cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: 700;
    border-bottom: 1px solid #40ccde !important;
    padding-bottom: 0.05rem;
  }
}
#about-me {
  .container {
    background: url(/img/stacked_circles.png) repeat;
  }
}
#canvas {
  display: block;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  height: 100%;
  width: 100%;
}
.connect-li {
  a {
    border: none !important;
    background: none;
    padding: 0;
  }
}
.li-logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: baseline;
  margin-left: 5px;
}
#dev-portfolio {
  .container {
    background: url(/img/wavy-dots.png) repeat;
  }
}
#writing-portfolio {
  .container {
    background: url(/img/stacked_circles.png) repeat;
  }
}
.publications {
  h3 {
    text-align: center;
  }
}
.poem-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .poem {
    width: 32%;
  }
}
.publisher {
  font-style: italic;
  font-size: 18px;
}
@media (max-width: 600px) {
  .poem-list {
    display: block;
    .poem {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
