doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name='description' content='The website of Matthew Mogavero. Front-End Junior Developer and Poet.')
  meta(name='keywords' content='web development, poetry')
  link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/main.min.css')
  title Matthew Mogavero
  //[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]

//- begin navbar
.container
  nav.navbar.navbar-expand-lg.sticky-top.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='#')
        img.d-inline-block.align-top(src='/img/matthew_logo_white.png' width='100' alt="Matthew")
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#about-me') About
          li.nav-item.dropdown
            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | More stuff
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item(href='#dev-portfolio') Development Work
              a.dropdown-item(href='#writing-portfolio') Writing
              // Make this trigger some kind of JS thing
              a.dropdown-item(onclick='startConfetti()' href='#') A Surprise!
              a.dropdown-item(onclick='loop()' href='#')
                | Another Gimmicky Thing 
                br
                span(style='font-size: 14px;') (Psst! Look at the URL!)
//- end navbar
main(role='main')
  .container
    .jumbotron.my-4.p-5
      .row
        .col-md-6.text-center.m-auto
          .mm_header(style='margin-bottom: 2rem;')
            h1
              span.char M
              span.char a
              span.char t
              span.char t
              span.char h
              span.char e
              span.char w
              br
              span.char M
              span.char o
              span.char g
              span.char a
              span.char v
              span.char e
              span.char r
              span.char o
          hr
          p Front-End Development | Writing
        .col-sm-pull-6.col-md-6.text-center.m-auto
          img#profile-img(src='/img/matthew_headshot_400.jpg' alt='photo of Matthew Mogavero')
    section#about-me.mb-4
      .content-styles
        .container.p-5
          .row
            .col-md-12.text-center
              h2 What&apos;s he got to say?
              hr
          .row
            .col-md-12
              p
                | Hello visitor! &#x1F44B;
                br
                |                   This is my website. I kind of use it more like an online r&eacute;sum&eacute; than anything, but if I have any
                |                   interesting things to share in the future I&apos;ll be sure to add to this site!
              .d-flex.align-items-center.connect-li
                p
                  | Until then, connect with me on LinkedIn (
                  i real profesh, I know
                  |  &#x1F4BC;)
                a(href='https://www.linkedin.com/in/matthew-mogavero/')
                  img.li-logo(src='/img/li_logo.png' alt="Matthew's LinkedIn")
    section.mb-4
      #dev-portfolio.content-styles
        .container.p-5
          .row
            .col-md-12.text-center
              h2 Development Stuff
              hr
          .row
            .col-md-4
              .front-end-stuff
                h4 Skills:
                ul
                  li HTML5
                  li CSS3
                  li JavaScript (including Node.js and familiarity with React)
                  li Photoshop and Illustrator
                  li Microsoft Office Suite
                  li WordPress CMS
            .col-md-8
              p
                | I have helped hundreds of marketing agencies with landing page and email devolopment, as well as
                | custom JavaScript creation for dynamic content and other website functionalities.
                br
                br
                |                   I have also spent some time developing web applications. Want to check the weather? 
                a(href='https://its-weather-i-guess.herokuapp.com/' target='_blank')
                  | Try out my React weather app
                  | here!
    section#writing-portfolio.mb-4
      .content-styles
        .container.p-5
          .row
            .col-md-12.text-center
              h2 Writing
              hr
          .row
            .col-md-12
              .publications
                h3.my-2 Poetry
                .poem-list
                  p.poem
                    a(href='http://pankmagazine.com/piece/man-who-lost-his-wife-at-the-knife-throwing-show/')
                      | Man Who
                      | Lost His Wife at the Knife-Throwing Show
                    br
                    span.publisher PANK Magazine
                  .poem
                    p
                      a(href='https://fourcornereduniverse.com/2016/09/12/please-remain-seated-matthew-mogavero/\
                      ') Please Remain Seated
                    p
                      a(href='https://fourcornereduniverse.com/2016/09/12/the-mouth-matthew-mogavero/')
                        | The Mouth
                    p
                      a(href='https://fourcornereduniverse.com/2016/09/12/pumped-matthew-mogavero/') Pumped
                    p
                      a(href='https://fourcornereduniverse.com/2016/09/12/just-another-night-matthew-mogavero/')
                        | Just
                        | Another Night
                      br
                      span.publisher The Four-Cornered Universe
                  p.poem
                    a(href='http://www.cleavermagazine.com/pushing-things-by-matthew-mogavero/')
                      | Pushing
                      | Things
                    br
                    span.publisher Cleaver Magazine
script(type='text/javascript' src='/js/index.js')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='/confetti.js')
script(src='/smooth_scroll.js')
script(src='/url-magic.js')
